/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: black;
    color: white;
}

.page-container {
    position: relative;
}

.page {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.nav-link {
    cursor: pointer;
}

/* Show active page */
.page.active {
    opacity: 1;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heading {
    font-size: 30px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 80px; /* Adjust as needed */
    height: auto;
    margin-right: 10px;
}

.logo h1 {
    margin: 10px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3;
}

nav ul li a:hover {
    color: #FF00FF;
}

.hero {
    padding: 2rem;
    text-align: center;
    background: #f4f4f4;
    color: black;
}

article h2 {
    text-align: center;
    font-size: 30px;
    padding: 50px;
}

article p {
    text-align: center;
}

.promo {
    width: 100px;
    height: 100px;
}

.projectsTable {
    text-align: center;
}

.android {
    background-color: yellow;
}

.projectName {
    font-weight: bold;
}

table {
    border: 1px solid;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

th {
    border: 1px solid;
    padding: 10px;
    background-color: black;
    color: white;
}

td {
    border: 1px solid;
    padding: 10px;

}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}