/* Basic Reset */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#logo-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 125px;
    border-bottom: 4px solid black;
}

#title-div {
    display: flex;
    flex-direction: column;
    gap: 0.2em;
}

#title {
    font-size: 2rem;
    font-weight: bold;
}

#subtitle {
    font-size: 1.25rem;
}






h2 {
    text-align: center;
}

p {
    font-size: 1rem;
}

header {
    background: rgb(41, 44, 44);
    color: white;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px 0;
}

nav li {
    list-style-type: none;
    font-size: 1.5rem;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: rgb(255, 2, 192);
}

label {
    display: block;
    margin: 10px 0;
}

textarea {
    font-size: 1rem;
    width: 100%;
    height: 100px;
    resize: none;
}

#logo {
    width: 100px;
}

#hero-section {
    background: black;
    color: white;
    text-align: center;
    padding: 20px 0;
}

#about-section {
    padding: 20px;
    border-bottom: 4px solid black;
}

#about-section-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#my-picture {
    border: 4px solid black;
    border-radius: 4px;
    width: 200px;
    margin: 20px;
}

#about-section-text {
    margin: 20px;
    font-size: 1rem;
}

#projects-section {
    padding: 20px;
    text-align: center;
    border-bottom: 4px solid black;
}

#projects-section a {
    text-decoration: none;
    color: black;
}

#projects-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.project-thumbnail {
    display: block;
    margin: 10px auto;
    width: 200px;
    border-radius: 4px;
    cursor: pointer
}

.project {
    display: block;
    border: 4px solid black;
    border-radius: 4px;
    width: 220px;
    margin: 20px;
}

.project:hover {
    background: lightgray;
}

.project p {
    margin: 10px auto;
    width: 200px;
}

#contact-section {
    padding: 20px;
    margin: 0 0 20px 0;
}

#contact-form {
    border: 4px solid black;
    border-radius: 4px;
    padding: 20px;
    margin: 0 auto;
    width: 50%;
}

#contact-form button {
    display: block;
    margin: 20px auto 0 auto;
    padding: 10px 20px;
    border-radius: 4px;
}

#contact-form button:hover {
    background: lightgray;
    cursor: pointer;
}

footer {
    background: rgb(41, 44, 44);
    color: white;
    text-align: center;
    padding: 20px;
}

input[type="text"], input[type="email"] {
    font-size: 1rem;
    padding: 10px 0;
    border-radius: 4px;
    width: 100%;
}

@media (max-width: 768px) {
    #about-section-flex {
        flex-direction: column-reverse;
        gap: 0;
    }

    nav li {
        font-size: 1rem;
    }

    footer p {
        font-size: 0.875rem;
    }
}

@media (max-width: 480px) {
    nav li {
        font-size: 0.875rem;
    }

    footer p {
        font-size: 0.75rem;
    }

    #title {
        width: 50px;
    }
} 