/* Basic Reset */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background: rgb(41, 44, 44);
    color: white;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px 0;
}

nav li {
    list-style-type: none;
    font-size: 20px;
}

nav li:hover {
    color: rgb(255, 2, 192);
}

#logo-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#logo {
    border-radius: 50px;
    background: black;
    width: 100px;
}

#my-picture {
    border: 4px solid black;
    border-radius: 4px;
    width: 200px;
    margin: 20px;
    float: left;
}

#about-section-text {
    padding: 1px 0;
    font-size: 16px;
}

